Básico/Importação/__pycache__/Modulo1.cpython-313.pyc
TkinterFile.txt
Avançado/TkinterFile.txt

Teste_DEV/Tkintertest/__pycache__/tabs.cpython-313.pyc
dados.xlsx
.gitignore
Dados2.xlsx
Teste_DEV/Tkintertest/__pycache__/dataHandler.cpython-313.pyc
Teste_DEV/Tkintertest/__pycache__/tkWidgets.cpython-313.pyc
Teste_DEV/databaseTest/__pycache__/dataHandler.cpython-313.pyc
Teste_DEV/databaseTest/__pycache__/tkWidgets.cpython-313.pyc
.vscode/settings.json
Teste_DEV/PyGui/Teste2/main.exe
Teste_DEV/PyGui/Teste2/nuitka-crash-report.xml
Teste_DEV/PyGui/Teste2/main.dist/*
Teste_DEV/oxiapp/*

Teste_DEV/Builder/build/*
Teste_DEV/Builder/dist/*
Teste_DEV/DearPyGui/Teste2/build/*
Teste_DEV/DearPyGui/Teste2/dist/*
Teste_DEV/Builder/App.spec
Teste_DEV/Builder/App2.spec
Teste_DEV/Builder/lists.spec
Teste_DEV/DearPyGui/Teste3/__pycache__/modpy.cpython-313.pyc
Intermediário/PyInstaller/Python em executavel.spec
Intermediário/PyInstaller/build/*
Intermediário/PyInstaller/dist/*
Intermediário/PyInstaller/Python em executavel.exe.lnk
